<div id="pagination">

  <%
    previous_text = "&larr; " + _("Previous")
    next_text = _("Next") + " &rarr;"
  %>

  <div class="left">

    <% if @items.prev? %>
      <%= link_to raw(previous_text), params.merge(:page => @items.prev.number, :anchor => @options[:anchor]) %>
    <% else %>
      <span class="disabled"><%= raw(previous_text) %></span>
    <% end %>

  </div>

  <div class="right">

    <% if @items.next? %>
      <%= link_to raw(next_text), params.merge(:page => @items.next.number, :anchor => @options[:anchor]) %>
    <% else %>
      <span class="disabled"><%= raw(next_text) %></span>
    <% end %>

  </div>

</div>
