- title 'Tags'

.clear

%table.admin
  - if !@tags.blank?
    %thead
      %tr
        %th Name
        %th Taggings
        %th Links
    %tfoot
      %tr
        %td{ :colspan => 3 }
          = will_paginate @tags
    - for tag in @tags
      %tr
        %td=h tag.name
        %td=  tag.taggings.size
        %td=  tag.links.size
  - else
    %tr
      %td No tags