.clear

.grid_4
  %h1 Welcome to URLAgg
  
  %h2.nice 
    %span
      End information overload.
    %span
      Focus your information diet.
  
  %p
    Built to kill a cycle waster URLAgg leverages the power of the
    = link_to 'del.icio.us', 'http://delicious.com'
    community to limit your information consumption to popular links in areas (tags) you care about.
  
  %p
    Unlike other link sites, delicious is still at its heart a bookmark site. This means, mostly, useful links are being
    saved and, saved by a lot of people to hit popular.
      
  %p
    == You're a simple #{ link_to 'sign up', new_account_url } away from focusing your information diet.
  
.grid_8
  
  
  %p
    = image_tag 'urlagg.png', :title => 'my tracked tags'
    

.clear