<%- title 'Register', true -%>

<div class="clear">&nbsp;</div>

<% form_for @user, :url => account_path do |f| %>
<div class="container_12">
  <div class="grid_4">
    
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Create account" %>
  </div>
  <div class="grid_7">
    <%= f.error_messages %>
  </div>
  
  <div class="clear">&nbsp;</div>
</div>
<% end %>